body {
  background-image: url("assets/images/th.jpg");
}

.jumbotron {
  text-align: center !important;
  background: navy !important;
  color: lightblue !important;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 20pt !important;
  color: lightblue !important;
  font-weight: bold;
}

h2 {
  color: rgb(74, 149, 173);
}
h3 {
  color: rgb(74, 149, 173) !important;
}

#train-table-body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#train-table-header th {
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#table-title {
  background-color: navy;
  color: white;
}

.panel-title {
  background: navy;
  color: white;
  font-weight: bold;
  font-size: 17pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
